body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.navbar {
    background-color: darkgray;
    overflow: hidden;
    padding: 10px 0;
    text-align: center;
}

.navbar a {
    color: white;
    text-decoration: none;
    padding: 14px 20px;
    display: inline-block;
}

.navbar a:hover {
    background-color: blue ;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
    background: white;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

h1, h2 {
    color: black;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 20px auto;
}

footer {
    text-align: center;
    padding: 10px;
    background: gray;
    color: white;
    margin-top: 20px;
}
